<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap core CSS → -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>公民館等のこれからを考える会</title>
</head>

<body>
    <div>
        <img src="img/hp1.png" class="img-fluid" alt="Responsive image">
    </div>

    <div class="d-flex flex-sm-row flex-column-reverse mb-3" style="background:url('img/hp2.png')">
        <div class="flex-grow-1 button-wrapper" style="height: 550px;">
            <div class="d-flex flex-column">
                <div class="main-button card">
                    <a href="pdf/20191103doc.pdf" class="text-links btn btn-outline-info">11月3日レジュメを多少加工</a>
                </div>
                <div class="main-button card">
                    <a href="pdf/201908200920.pdf" class="text-links btn btn-outline-info">2019年8月20日 9月20日市報</a>
                </div>
                
            </div>
        </div>

        <div class="d-flex flex-column" style="min-height: 80px;">
            <div class="d-flex flex-column text-left" style="background: coral; color: white;">
                <span class="font-weight-bold ml-1">公民館等のこれからを</span>
                <span class="font-weight-bold ml-1">考える会</span>
                <span class="font-weight-light ml-1 mr-1">連絡先: kokyosisetuskodaira@gmail.com</span>
            </div>
            <a href="intro.html" class="btn btn-warning mb-1 mt-1 text-left">この会の紹介</a>
            <a href="event.html" class="btn btn-warning mb-1 text-left">イベント紹介(この会等の活動)</a>
            <a href="paid-change.html" class="btn btn-warning mb-1 text-left">有料化について</a>
            <a href="about.html" class="btn btn-warning mb-1 text-left">公民館ってどんなところ</a>
            <a href="activity.html" class="btn btn-warning mb-1 text-left">公民館活用術</a>
            <a href="room.html" class="btn btn-warning mb-1 text-left">公民館には保育室があります</a>
            <a href="other-city.html" class="btn btn-warning mb-1 text-left">他市の情報(これから他市に働きかけます)</a>
            <a href="action.html" class="btn btn-warning mb-1 text-left">署名・要望書活動</a>
        </div>
    </div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>

</html>